<div class="data-list">
    <div>
      <table>
        <thead>
        <tr>
          <th>Nome</th>
          <th>Genero</th>
          <th>Criador</th>
          <th>Tempo</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody class="data-list-tbody">
            <tr *ngFor="let item of dataList; let idx = index;" id="list-item{{idx}}" class="data-list-tr">
                <td>{{item.nome}}</td>
                <td>{{item.genero}}</td>
                <td>{{item.criador}}</td>
                <td>
                    <div>
                    <span>
                      {{item.tempoTotal != undefined && item.tempoTotal >= 0 ? item.tempoTotal : '--:--'}}</span>
                    </div>
                    </td>
                <td><button class="button-delete" (click)="deletarItem(item)">-</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  