@import '../assets/sass/mixins'

.container-list
    display: flex
    margin-top: 50px
    

.book-list,.song-list
    @include estilo-container-list()
    @include auto()

.container-form
    @include estilo-container-form()
    @include auto()

.home
    text-align: center

h3
    font-size: 2.5rem
    
    &:hover
        color: #65a4ec
        transition: 1s
        transform: translateX(1rem) scale(1.2)

h1
    font-size: 3.5rem
    
    &:hover
        transition: 1s
        transform: translateX(4rem) scale(1.2)
        color: #65a4ec



        